/*@import 'normalize.css';*/

:root {
    --burgundy: #70232F;
    --white: #FFF;
    --small-border-radius: 5px;
    --big-border-radius: 15px;
    --pink: #D86B79;
    --main-font: 'Montserrat', sans-serif;
    --black: #333333;
    --burgundy-dark: #2F050F;
    --beige: #F7DAAB;
    --grey: #EFEFEF;

    font-family: 'Montserrat', sans-serif;
}

/* Сброс стилей для input */
input {
    /*all: unset;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
}

/* Сброс стилей для button */
button {
    box-sizing: border-box; /* Устанавливает правильное поведение размеров */
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer; /* Сохраняет указатель при наведении */
    outline: none; /* Убирает обводку при фокусе */
}

button:focus {
    background: none; /* Убирает стандартный фон */
}

/* Сброс стилей для h2 */
h2 {
    margin: 0; /* Убирает верхний и нижний отступ */
    padding: 0; /* Убирает внутренние отступы */
}

/* Сброс стилей для h3 */
h3 {
    margin: 0; /* Убирает верхний и нижний отступ */
    padding: 0; /* Убирает внутренние отступы */
    font-size: 16px; /* Сброс размера шрифта на значение по умолчанию (можно изменить) */
    font-weight: normal; /* Сброс жирности шрифта */
    line-height: 1; /* Сброс высоты строки */
    color: inherit; /* Сброс цвета текста */
    border: none; /* Сброс рамок */
}

/* Сброс стилей для списков */
ul, ol {
    /*all: unset; !* Сбрасывает все унаследованные стили *!*/
    box-sizing: border-box; /* Устанавливает правильное поведение размеров */
    margin: 0; /* Убирает внешние отступы */
    padding: 0; /* Убирает внутренние отступы */
    list-style: none; /* Убирает маркеры (пули или номера) */
    border: none; /* Убирает границы */
    background: none; /* Убирает фоновый цвет */
}

li {
    /*all: unset; !* Сбрасывает все унаследованные стили *!*/
    box-sizing: border-box;
    margin: 0; /* Убирает отступы между элементами списка */
    padding: 0; /* Убирает внутренние отступы */
    border: none;
    background: none;
    font-family: inherit; /* Наследует семейство шрифтов от родителя */
    font-size: inherit; /* Наследует размер шрифта от родителя */
    font-weight: inherit; /* Наследует толщину шрифта от родителя */
    color: inherit; /* Наследует цвет текста от родителя */
    line-height: inherit; /* Наследует высоту строки от родителя */
    outline: none; /* Убирает обводку при фокусе */
}

p {
    all: initial;
    display: block;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    white-space: normal;
}

h4 {
    all: unset;
    display: block;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-decoration: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}

.h5 {
    all: unset;
    display: block;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-decoration: inherit;
    line-height: inherit;
    letter-spacing: normal;
    word-spacing: normal;
}